.wrapper {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 800px;
}

.display-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.dynamic-display {
  padding: 20px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: darkgreen;
}

.tooltip {
  color: white;
}

.controls {
  margin-top: 30px;
}

.control-switch {
  display: flex;
  align-items: center;
}

.control-switch + .control-switch {
  margin-top: 7px;
}

.switch {
  margin-left: 5px;
}
